<h1>Lista pojedynków</h1>

<table>
  <tr>
    <th>Drużyna 1</th>
    <th>Drużyna 2</th>
    <th>Data</th>
    <th></th>
	<th></th>
  </tr>

<% @duels.each do |duel| %>
  <tr>
    <td><%= duel.team1 %></td>
    <td><%= duel.team2 %></td>
    <td><%= duel.date %></td>
    <td><%= link_to 'Pokaż', duel %></td>
	<td><%= link_to 'Lista zakładów', duel_bets_path(duel) %></td>
  </tr>
<% end %>
</table>


