<p id="notice"><%= notice %></p>

<p>
  <b>Drużyna 1:</b>
  <%= @duel.team1 %>
</p>

<p>
  <b>Drużyna 2:</b>
  <%= @duel.team2 %>
</p>

<p>
  <b>Data:</b>
  <%= @duel.date %>
</p>

<p>
  <b>Wydarzenie:</b>
  <%= @duel.event %>
</p>

<%= link_to 'Edytuj', edit_duel_path(@duel) %> |
<%= link_to 'Wróć', duels_path %>
