<div id="middle_cont">
<div id="site_title">Edytuj komentarz</div>
<div id="comment_form">

	<%= form_for([@post, @comment]) do |f| %>
  		<div class="field">
    		<%= f.label :content, "Tekst" %><br />
			<%= f.text_area :content, :cols => 70, :rows => 4%>
  		</div>
  		<div class="actions">
    		<%= f.submit "Zapisz komentarz" %>
  		</div>
	<%end%>

    <%= link_to 'Wróć', :controller => :home, :action => :show_news, :id => @post %>
</div>

</div>