<div id="site_title">Zaproponuj pojedynek</div>
<div id="middle_cont">
    <div id="site_desc">
        W tym miejscu możesz zasugerować nam pojedynek który możemy dodać do listy.
        Aby pojedynek został dodany, wypełnij poniższą formułkę.
        Podaj najważniejsze dane takie jak drużyny/graczy, dokładną datę oraz stronę na której jest oficjalnie potwierdzony ten pojedynek.
        Na stronie musi być możliwość sprawdzenia wyniku pojedynku po jego zakończeniu.
    </div>

    <%if @user%>
      <%= form_for(@suggestion) do |f| %>

	    <% if @suggestion.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

        <ul>
            <% @suggestion.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
        <% end %>
          
        <div class="field">
            <%= f.label :team1, "Drużyna 1" %><br />
            <%= f.text_field :team1 %>
        </div>
        <div class="field">
            <%= f.label :team2, "Drużyna 2" %><br />
            <%= f.text_field :team2 %>
        </div>
        <div class="field">
            <%= f.label :description, "Dodatkowe informacje" %><br />
            <%= f.text_area :description, :cols => 40, :rows => 10%>
        </div>
        <div class="field">
            <%= f.label :date, "Data pojedynku" %><br />
            <%= f.datetime_select :date %>
        </div>
        <div class="field">
            <%= f.label :link %><br />
            <%= f.text_field :link %>
        </div>
           <%= hidden_field(:suggestion, :user_id, :value => @user.id) %>
        <div class="actions">
            <%= f.submit "Zaproponuj pojedynek"%>
        </div>
      <%end%>
	<%else%>
	    <%= link_to "Zaloguj się aby zaproponować pojedynek.", new_user_session_path%>
    <%end%>
</div>